body{
    background-color: #ffffff;
    width: 1800px;
    height: auto;
    font-family:  "Playwrite VN", serif;
}

h1{
    display: flex;
    position: relative;
    justify-content: center;
}

.our-service-header {
   background-color: rgb(235, 228, 220);
   border-radius: 5px;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 750px; 
    width: 400px; 
    height: 400px; 
    display: grid; 
    border: 2px solid rgb(202, 159, 212);
    border-radius: 10px;
}
.p_font_size{
    position: absolute;
    top: 100px;
    right: 100px;
}
.first{
    position: absolute;
    top:  15px; 
    left: 15px; 
}
#name{
    position: absolute;
    top:  30px; 
    left: 180px; 
}
#email{
    position: absolute;
    top:  70px; 
    left: 180px; 
}
.youremail{
    position: absolute;
    top:  60px; 
    left: 15px; 
}
#message{
    right: 50px; 
    bottom: 40px; 
    position: absolute;
    height: 200px;
    width: 300px; 
}
.buttons {
    left: 150px; 
    bottom: 10px; 
    position: absolute;
    font-family:  "Playwrite VN", serif;
}

.contact-btn:hover{
    background-color: blueviolet;
}
.cancel-btn:hover{
    background-color: red;
}
.footer-info{
    justify-content: baseline; 
    font-size: 20px;
}
