body{
    background-color: #ffffff;
    width: 1800px;
    height: auto;
    font-family:  "Playwrite VN", serif;
}
.maintitle{
    display: flex;
    position: relative;
    top: 150px; 
    justify-content: center;
}
img{
    position: relative;
    width: 300px;
    height: 300px;
    border: 20px #ddaeae solid; 
}

.three-columns{

    position: relative;
    z-index: 1; 
    top: 250px; 
    justify-content: center;
    display: grid; 
    align-items: space-around;
    gap :250px ; 
    grid-template-columns: 200px 200px 200px;

}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.5; 
}
p{
   position: relative;
   left: 100px; 
}
